/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/app/certificates/*.pdf
/storage/app/pdfs/*
/storage/app/videos/*
!/storage/app/.gitkeep
!/storage/app/certificates/.gitkeep
!/storage/app/pdfs/.gitkeep
!/storage/app/videos/.gitkeep
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
